/* HOME SECTION */
body,
html {
    margin: 0;
    font-family: 'Dosis', sans-serif;
    font-size: 1.2rem;
}

nav {
    width: 100%;
    text-align: right;
}

.navbar-bg {
    background: #ECE9E6;
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
}

.fixed {
    position: fixed;
    z-index: 50;
}

nav ul {
    margin: 0;
    padding: 1rem 0;
}

nav ul li {
    display: inline-block;
}

nav ul li:not(:last-child) {
    margin-right: 1rem;
}

/* nav ul a:hover {
  background: #fff;
  color: rgba(0, 0, 0, 0.8);
  border-radius: 0.2rem;
  border-bottom: #fff 3px solid;
  transition: all 0.27s ;
} */

nav ul a:after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #fff;
    transition: width 0.3s ease-out;
}

.a_scroll {
    color: #000;
    font-weight: bold;
}

.a_scroll::after {
    color: black;
}

nav ul a:hover::after {
    width: 100%;
}

nav ul li:nth-child(4) {
    margin-right: 2.5rem;
}

nav ul li a,
.simon h2 a {
    text-decoration: none;
    color: #fff;
}

header {
    background: url('../images/shooting-star.jpg') no-repeat center center fixed /
        cover;
    min-height: 100vh;
    position: relative;
    animation: bgVertical 7.5s linear 1;
}

@keyframes bgVertical {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 0 -75px;
    }
}

@keyframes bgHorizontal {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -75px 0;
    }
}

.simon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.simon img {
    object-fit: cover;
}

.avatar {
    width: 6.8rem;
    height: 6.8rem;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.avatar:hover {
    border: 0.1rem solid #fff;
    transition: border 0.5s ease-in;
}

.simon .name,
h2 {
    text-align: center;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.simon .name {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.33rem;
    letter-spacing: 0.1rem;
    word-spacing: 0.35rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #3e2723, 1px 2px 1px #3e2723, 1px 3px 1px #3e2723,
        1px 4px 1px #3e2723, 1px 5px 1px #3e2723, 1px 6px 1px #3e2723,
        1px 7px 1px #3e2723;
    word-spacing: 0.75rem;
}

header .typing a {
    font-family: 'Dosis', sans-serif;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.95);
    text-decoration: none;
    cursor: text;
    word-spacing: 0.35rem;
    text-align: center;
    display: block;
}

.simon h2 {
    font-size: 1.1rem;
    word-spacing: 0.1rem;
    text-shadow: 0.1px 0.1px 1px #000;
}

.socials {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 15px/45px;
    text-align: center;
    margin-top: 1.75rem;
}

.socials i {
    margin: 0.7rem;
    color: rgba(1, 1, 1, 0.9);
    font-size: 1.1rem;
}

.socials i:hover,
#work i:hover {
    color: #000;
    transform: scale(1.3);
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
    transition: text-shadow ease-in-out 200ms;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

/* ABOUT SECTION */

#about-me {
    max-width: 48.5%;
    float: left;
    font-size: 1.08rem;
    padding: 0 2rem;
    box-sizing: border-box;
}

#about h3,
#work h3,
#contact h3 {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 0.01rem;
    word-spacing: 0.5rem;
    margin-top: 2.5rem;
    text-transform: uppercase;
}

.about_content {
    display: flex;
    align-items: center;
}

#me {
    max-width: 48.5%;
    float: right;
}

#me img {
    width: 100%;
    border-radius: 0.4rem;
    object-fit: cover;
    min-height: 400px;
}

#me q {
    display: block;
    margin-top: 1rem;
    font-style: italic;
    text-align: center;
}

#skills {
    padding-top: 0.5rem;
}

#skills i {
    font-size: 3.5rem;
    margin: 0 1rem 0 0;
}

.slick-track {
    display: flex;
}

.skills-slider > div {
    text-align: center;
    height: auto;
}

.slick-slider .slick-prev:before, .slick-next:before {
    color: #000;
}

hr {
    text-align: center;
    width: 10rem;
    border: 0;
    height: 1px;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0)
    );
    margin-bottom: 2rem;
}

.clear {
    clear: both;
}

/* WORK SECTION */
#work {
    margin-top: 2.5rem;
    background: #e0e0e0 url('../images/coding.jpg') center center no-repeat
        fixed / cover;
    padding-bottom: 1rem;
}

#work h3 {
    text-indent: -0.5em;
    padding-top: 2.5rem;
}

#work .portfolio {
    width: 33.33%;
    float: left;
}

#work .wrapper {
    width: 100%;
    text-align: center;
}

#work img {
    width: 13rem;
    height: 13rem;
    border: 2px solid #424242;
    background: #fff;
    border-radius: 0.5rem;
    opacity: 0.75;
    transition-duration: 0.45s;
    transition-property: box-shadow, opacity;
}

#work img:hover {
    opacity: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#work i {
    font-size: 1.2rem;
    color: #000;
    margin: 0.3rem;
}

#work figcaption div {
    text-align: center;
}

/* CONTACT SECTION */
#contact {
    background: #212121 url('../images/contact.jpg') center center no-repeat /
        cover;
    min-height: 58vh;
    color: #fff;
    box-shadow: 0 0 60px 15px #000;
    margin-top: -2.5rem;
}

#contact h3 {
    padding-top: 1.5rem;
}

#contact p.center {
    text-align: center;
    font-size: 1.1rem;
    margin-top: -1rem;
}

#contact hr.inverse {
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.75),
        rgba(255, 255, 255, 0.1)
    );
}

#contact i {
    font-size: 2.5rem;
    margin-right: 1rem;
    position: relative;
    top: 0.72rem;
    animation: pulse 1s infinite;
}

#contact span a {
    color: #fff;
    text-decoration: none;
}

@keyframes pulse {
    from {
        transform: scale3d(1, 1, 1);
    }

    50% {
        transform: scale3d(1.1, 1.1, 1.1);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}

/* FOOTER */
footer p.center {
    text-align: center;
    color: #000;
}

footer a i {
    float: right;
    background: #000;
    color: #fff;
    border-radius: 50%;
    padding: 0.25rem;
    animation: slideUp 1.5s infinite;
}

footer a i:hover {
    color: #000;
    background: #fff;
}

@keyframes slideUp {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        visibility: hidden;
        transform: translate3d(0, -40%, 0);
    }
}

/* MEDIA QUERIES */
@media (max-width: 1074px) {
    #work img {
        width: 11.5rem;
        height: 11.5rem;
    }

    #skills i {
        font-size: 2.5rem;
    }
}

@media (max-width: 986px) {
    #skills img {
        height: 4.5rem;
        margin: 0 0.5rem 2rem 0;
    }

    #skills i {
        font-size: 2.1rem;
    }
}

@media (max-width: 880px) {
    #me img {
        max-width: 24rem;
    }

    p {
        font-size: 0.92rem;
    }

    #me img {
        max-width: 19rem;
    }

    #work img {
        width: 7.8rem;
        height: 7.8rem;
    }

    .simon .avatar {
        height: 6rem;
        width: 6rem;
    }

    .simon .name {
        text-transform: capitalize;
        font-size: 2rem;
    }

    #skills i {
        font-size: 2rem;
    }

    header {
        animation: bgHorizontal 14s linear infinite;
    }
}

@media (max-width: 674px) {
    nav ul li:nth-child(4) {
        margin-right: 0;
    }

    nav ul {
        padding: 0.5rem 0;
        text-align: center;
    }

    #about-me,
    #me {
        max-width: 100%;
    }

    .center {
        text-align: center;
    }

    .socials i {
        color: #fff;
    }

    .socials {
        background: rgba(0, 0, 0, 0.3);
    }

    #me {
        display: none;
    }

    #work .portfolio {
        width: 50%;
        float: left;
    }

    #work img {
        width: 9rem;
        height: 9rem;
    }

    .simon {
        transform: none;
        position: static;
        padding-top: 8rem;
    }

    .simon .name {
        text-shadow: 1px 1px 1px #3e2723, 1px 2px 1px #3e2723,
            1px 3px 1px #3e2723, 1px 4px 1px #3e2723, 1px 5px 1px #3e2723;
    }
}

@media (max-width: 532px) {
    .simon .name {
        font-size: 1.55rem;
    }

    header h1.typing a {
        font-size: 1.15rem;
    }

    .simon h2 {
        font-size: 1.2rem;
    }

    #work img {
        width: 7rem;
        height: 7rem;
    }

    #work i {
        font-size: 1.05rem;
        margin: 0.2rem;
    }

    #work figcaption div {
        text-align: left;
    }

    #contact p.center {
        font-size: 1rem;
    }

    #contact i {
        font-size: 2rem;
        top: 0.55rem;
    }
}

@media (max-width: 410px) {
    .simon .name {
        font-size: 1.25rem;
    }

    header h1.typing a {
        font-size: 0.95rem;
    }

    .simon h2 {
        font-size: 1rem;
    }

    #work .portfolio {
        width: 100%;
    }

    #work figcaption div {
        text-align: center;
    }

    #work img {
        width: 12rem;
        height: 12rem;
    }
}

@media (max-width: 377px) {
    html {
        font-size: 1.15rem;
    }

    .simon .avatar {
        height: 5.5rem;
        width: 5.5rem;
    }

    .simon .name {
        font-size: 1.05rem;
    }

    header h1.typing a {
        font-size: 0.85rem;
    }

    .simon h2 {
        font-size: 0.9rem;
    }

    #work img {
        width: 10rem;
        height: 10rem;
    }

    #work i {
        font-size: 1rem;
        margin: 0;
    }

    #contact i {
        font-size: 1.5rem;
    }
}
